<!DOCTYPE html>
<html>
<head>
    <title>Status: How Are You Today?</title>
    {% load static %}
</head>

<body>
	<header>
		<h3>Status</h3>
	</header>
	
    <div>
    	<h1>Hello, How Are You Today?</h1>
        <form method="post">
            {% csrf_token %}
            {{ status_form }}
            <input name="submit-button" type="submit" value="Submit">
        </form>
    </div>
    <div>
    	{{ status_display }}
    </div>
</body>
